<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ja</string>
	<key>CFBundleExecutable</key>
	<string>KotoInputMethod</string>
	<key>CFBundleIdentifier</key>
	<string>com.susumutomita.inputmethod.Koto</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Koto</string>
	<key>CFBundleDisplayName</key>
	<string>Koto</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>InputMethodConnectionName</key>
	<string>Koto_1_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>KotoInputController</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Latn</string>
		<string>Jpan</string>
	</array>
	<key>TISInputSourceID</key>
	<string>com.susumutomita.inputmethod.Koto</string>
	<key>TISIntendedLanguage</key>
	<string>ja</string>
</dict>
</plist>
